<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="height:215px; margin-bottom: 40px;">
                <div class="fb-page" data-href="https://www.facebook.com/buurtcoupons" data-width="100%" data-height="215" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/buurtcoupons"><a href="https://www.facebook.com/buurtcoupons">Buurtcoupons</a></blockquote></div></div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="copyright">Deze site is een uitgave de Persgroep</div>
            </div>
            <div class="col-sm-6">
                <ul class="footer-list clearfix">
                    <li><a href="aanmelden.html">Aanbiedingen per mail ontvangen?</a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                    <li><a href="cookies.html">Cookies</a></li>
                </ul>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-12"><a href="http://www.persgroepadvertising.nl">© de Persgroep 2015</a></div>
        </div>
    </div>
</footer>
<div class="back-to-top">
    
</div>