.article-social{
	list-style-type: none;
	margin-top: 10px;

	& li{
		display: inline;
		margin: 0 2px 0;
		@media screen and (max-width: 767px){
			margin: 0;

			&.linkedin, &.mail{
				display: none;
			}
		}
		&:last-child{
			margin-right: 0px;
		}
	}
} 

.btn-social{
	border: 0;
	display: inline-block;
	background: none;
	text-decoration: none !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff !important;
	line-height: 36px;
	font-size: 13px;
	padding: 0 17px;
	-webkit-transition: background-color .2s ease-in-out 0s;
	-moz-transition: background-color .2s ease-in-out 0s;
	-o-transition: background-color .2s ease-in-out 0s;
	transition: background-color .2s ease-in-out 0s;
	@media screen and (max-width: 767px){
		padding: 0 10px;
		line-height: 28px;

		& span{
			display: none;
		}
	}


	& i{
		font-size: 18px;
		line-height: 36px;
		margin-right: 5px;
		@media screen and (max-width: 767px){
			margin-right: 0px;
			line-height: 28px;
		}
	}

	&--facebook{
		background-color: #3C5B9A;
		&:hover{
			background-color: #36528a;
		}
	}
	&--twitter{
		background-color: #429CFF;
		&:hover{
			background-color: #3b8ce5;
		}
	}
	&--linkedin{
		background-color: #0C78B6;
		&:hover{
			background-color: #0b6ca3;
		}
	}
	&--mail{
		background-color: #DD4C38;
		&:hover{
			background-color: #c64432;
		}

		& i{
			margin-right: 0px;
		}
	}

}

.btn{

	font-weight: 700;
	padding: 15px;
	width: 100%;
	display: block;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all .2s ease-in-out 0s;
	-moz-transition: all .2s ease-in-out 0s;
	-o-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
	-webkit-print-color-adjust:exact !important;
	print-color-adjust:exact !important;

	&-print{
		background-color: $tertiary-color;
		color: #fff;

		&:hover,&:active,&:focus{
			color: #fff !important;
			background-color: $tertiary-color;
		}
	}

	&-share{
		background-color: $primary-color;
		color: #fff;

		&:hover,&:active,&:focus{
			color: #fff;
			background-color: $primary-color;
		}
		@media all and (max-width: 767px){
			margin-top:  15px !important;
		}
	}

	&-mobile{
		background-color: #F1F1F1;
		color: #DD4C38;

		&:hover,&:active,&:focus{
			color: #fff;
			background-color: #DD4C38;
		}
	}

	

	& span{
		font-weight: 300;
	}

	& i{
		font-size: 20px;
		margin-right: 5px;
	}
}

.coupon-button{
	border: none;
	background-color: $primary-color;
	color: #fff;
	text-align: center;
	font-weight: 600;
	padding: 13px 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	font-size: 12px;
	line-height: 1;
	display: block;
	margin: 0 auto;

	@media screen and (max-width: 768px){
		width: 100%;
	}

	&:hover{
		background-color: $tertiary-color;
	}

	&--disabled, &--disabled:hover{
		background-color: #f6f6f6;
		cursor: default;
		color: #8e8e8e;
	}
}

.back-to-top{
	width: 40px;
	height: 40px;
	position: fixed;
	z-index: 100;
	bottom: 15px;
	right: 15px;
	display: none;
	background-color: rgba(51,37,116,.9);
	color: #fff;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out 0s;
	-moz-transition: all .2s ease-in-out 0s;
	-o-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;

	@media screen and (max-width: 767px){
		display: none;
	}

	&:hover{
		background-color: $tertiary-color;
	}

	&:before{
		content: "\f077";
		font-family: "FontAwesome";
		line-height: 38px;
		
	}
}

.button-wrapper{
	position: relative;
}

.button-menu{
	display: none;
	position: absolute;
	left: 0px;
	bottom: 58px;
	right: 0px;
	text-align: center;
	background-color: $tertiary-color;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 100;

	&--share{
		background-color: $primary-color;
	}

	& ul{
		list-style-type: none;
	}

	& li{
		border-bottom: 3px dotted #fff;

		&:last-child{
			border-bottom: none;
		}
	}

	& a, & span{
		display: block;
		padding: 15px;
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		-webkit-transition: all .2s ease-in-out 0s;
		-moz-transition: all .2s ease-in-out 0s;
		-o-transition: all .2s ease-in-out 0s;
		transition: all .2s ease-in-out 0s;

		&:hover{
			background-color: rgba(0,0,0,.15);
		}

		& i{
			display: inline-block;
			width: 20px;
			margin-right: 3px;
		}
	}

	& .button-item--show{
		display: none;
		background-color: #fff;
		

		& span{
			color: $tertiary-color;
		}
	}

	& .button-item--whatsapp{
		background-color: #43d854;
		display: none;
	}

	
}

.btn-use--active, .btn-use--active:hover{
	background-color: $tertiary-color !important;
}