$primary-color: #443784;
$secondary-color: #e0004c;
$tertiary-color: #48b59f;
$label-color: #FFEE00;
$label-color-discount: #FFEE00;
$label-color-text: #FFEE00;
$link-color: #443784;
$extra-color: #afcd09;